@charset "utf-8";

@import "mixin";
@import "reset";
@import "init";
@import "menu";
@import "archive";
@import "single";
@import "plugin";

.wp-embedded-content { width: 100%;}

#wrapper { background-color: $colorWrapper; color: #333;
    input#color-mode:checked + & { background-color: $colorWrapperN; color: #fff;}
}
.main-container {
    @include desktop { display: flex; @include desktop }
}
#mainCollumn { margin-bottom: 40px;
    @include desktop { width: calc(100% - 320px); margin-bottom: 0;}
}
#sideCollumn{
    @include desktop { margin-left: auto; width: 300px; margin-top: 0;
        .widget .widget-title { color: #fff; background: #6AB7ED;}
    }
}

#color-mode { display: none;}
.color-mode-switch { height: 2rem; width: 4.5rem; border-radius: 2rem; background: #ddd; display: inline-block; position: relative; cursor: pointer;
    &::before { transition: left 0.2s; height: 2rem; width: 2rem; background-color: #000; border-radius: 50%; top: 0; left: 0; position: absolute; content: '';}
    @include nightmode { background-color: #000;
        &::before { left: 2.5rem; background-color: #f9c202;}
    }
    @include desktop { height: 20px; width: 50px;
        &::before { height: 20px; width: 20px;
            @include nightmode { left: 30px;}
        }
    }
}
/* header */
.glovalHeader { margin-bottom: 2rem; background-color: #fff; position: relative;
    .site-header { padding:10px 0; border-top: 1px solid $colorWrapper;
        .sitename { font-size: 16px; font-weight: bold; text-align: center;}
        .sitename a { color: #000; text-decoration: none; }
        .sitename a:hover { color: inherit;}
    }
    .site-description { padding: 10px; font-size: 12px; text-align: center;}
    .mode { padding: 10px; text-align: right;
        i,svg { font-size: 2rem; margin-right: 0.5rem;}
    }
    @include nightmode { background-color: #222; color: #fff;
        .site-header { border-top-color: #000;
            .sitename {
                a { color: #fff;}
            }
        }
        .mode { color: #f9c202; }
    }
    @include desktop {
        .site-header { padding: 0; display: flex; align-items: center;
            .sitename { flex: 0 0 auto; padding: 0 10px; font-size: 20px; text-align: left;}
        }
        .site-description { margin-bottom: 0; font-size: 14px; text-align: left;}
        .mode { padding: 0; position: absolute; top: 10px; right: 20px;
            i,svg { font-size: 24px;}
        }
    }
}

/* gnav pc design */
.gnav { display: none;
    @include desktop { border-left: 1px solid $colorWrapper; display: block; position: relative; z-index: 150; flex: 1 0 auto;
        .content-inner { margin: 0; max-width: 100%;}
        a { display: block; padding: 1em; margin: 0; border-radius: 0; text-decoration: none;}
        ul.menu { display: flex;  }
        ul.menu li { position: relative;}
        ul.menu li > ul { background-color: rgba(21, 144, 233, 0.9); position: absolute; top: 100%; left: 0; z-index: 100; white-space: nowrap;
        opacity: 0; transform:translateY(-10px); visibility: hidden;
        transition:opacity 0.3s, transform 0.3s, visibility 0.3s;
        }
        ul.menu li:hover > ul { opacity: 1; transform:translateY(0px); visibility: visible;}
        ul.menu li > ul a { display: block; color: #fff;}
        ul.menu li > ul li { text-align: left;}
        ul.menu li > ul ul { width: auto; white-space: nowrap;}
        @include nightmode { border-left-color: #000;}
    }
}

/* footer */
.globalFooter { padding: 20px 0 120px; color: #fff; background: $colorMain;
    a { color: inherit;}
    .copyright { margin-top: 40px; display: block; font-size: 10px; text-align: center;}
    @include desktop { padding: 40px 0;}
    @include nightmode { background-color: #111;}

    &__widgets {
        @include desktop {  display: flex;
            >div { margin: 0 10px; flex:1 1 25%}
        }
    }
    &__menu { text-align: center;
        li { margin-top: 1.5em; font-size: 16px;
            &:first-child { margin-top: 0;}
        }
        @include desktop {
            li { display: inline; margin: 0 10px;}
        }}
}


#goTop { display: none;}
.gotop { width: 50px; height: 50px; border-radius: 50%; right: 1rem; bottom: 1rem; position: fixed; z-index: 100; color: #fff; background: rgba(0, 0, 0, 0.3); cursor: pointer; @include flex-center;
    span { color: inherit; vertical-align: middle; text-decoration: none; text-align: center;}
}

.share-btns { position: fixed; left: 0; bottom: 1rem; width: 100%; z-index: 50;
    ul { display: flex; justify-content: center;}
    li { margin: 0 5px; font-size: 26px;
        a { display: block; line-height: 50px; height: 50px; width: 50px; background-color: rgba(255,255,255,0.8); box-shadow:0 0 10px rgba(0,0,0,0.4); border-radius: 50%; text-align: center;}
    }
    li.facebook a { color: #3B5998;}
    li.tweet a { color: #1DA1F2;}
    li.line a { color: #00c300;}
    li.pocket a {color: #f03e51;}
    @include desktop { bottom: auto; top: 150px;
        .content-inner { position: relative;}
        ul { display: block; position: absolute; left: -65px;}
        li { margin: 0 0 10px;
            a { box-shadow: none;}
        }
    }
}

.wp-block-embed__wrapper {
    iframe { width: 100%;}
}


// カスタムヘッダー
.wp-custom-header { position:relative; width:100%; padding-top:56.25%}
.wp-custom-header iframe,
.wp-custom-header img,
.wp-custom-header video { position:absolute; top:0; right:0; width:100% !important; height:100% !important}
.wp-custom-header-video-button { display: none;}

// パーツ shortcord.php
.breadcrumb { padding: 1rem; border: solid $colorWrapper; border-width: 1px 0; font-size: 0.7rem;
    ol { }
    li { margin-right: 1em; line-height: 1.25; display: inline;
        &:not(:last-child)::after { margin-left: 1em; content: '>';}
    }
}

.pagination {
    ul { display: flex; justify-content: center; align-items: center; margin: 50px 0;}
    li { margin: 0 4px; text-align: center;
        .page-numbers { height: 3rem; width: 3rem; background-color: #fff; color: #333; text-decoration: none; @include flex-center;
            &.current { background-color: #1590e9; color: #fff;}
        }
        a { transition: 0.3s}
        a:hover {background-color: #1590e9; color: #fff;}
    }
}

// ショートコード：吹き出し
.fukidashi { margin:2em 0;
    &:after { display:table;  clear:both;  content:''}
    .ball{ color: #333; display:inline-block;  position:relative;  padding:15px;  margin-left:1rem;  max-width:calc(100% - 6rem);  background-color:#eee;  border-color:#eee;  border-radius:10px;
        &::after{right:100%; top:30px; border:solid transparent; content:""; height:0; width:0; position:absolute; pointer-events:none; border-color:rgba(136,183,213,0); border-right-color:inherit; border-width:10px 15px; margin-top:-10px}
    }
    .icon{ float:left;  width:5rem;
        >img{ max-width:100%}
        >span{ display:block;  margin-top:0.5rem;  text-align:center;  font-size:0.9rem}
    }
    @include desktop {
        .ball{ margin-left:10px;  max-width:calc(100% - 90px)}
        .icon{ width:80px;
            >span{ font-size:12px}
        }
    }
}

/* sticky sidebar */
#sticky_box{ display: none; width: inherit; z-index: 1000;
    .sticky-inner { width: inherit;}
    @include desktop { display: block;

    }
}

/* SNS */
.share ul { display: flex; flex-wrap: wrap; list-style-type: none; margin: 0;}
.share li { width: 25%;}
.share li a { display: flex; align-items: center; justify-content: center; color: #fff; height: 50px; width: 100%; text-align: center; text-decoration: none;}
.share li a:hover { opacity: 0.7;}
.share li i { font-size: 20px;}
.share li .icon { display: inline-block; width: 35px;}
.tweet a{background-color : #55acee;}
.facebook a{background-color : #315096;}
.googleplus a{background-color : #dd4b39;}
.hatena a{background-color : #07A4DD;}
.line a{background-color: #00c300;}
.pocket a{background-color :#f03e51;}
.rss a{background-color: #ff8c00;}
.feedly a{background-color: #6cc655;}
.pinterest a { background-color: #bd081c;}
.share .head { padding: 1.5rem 0; font-size: 1.2rem;}
.share .current .title { font-size: 1.6rem; padding: 2rem 1rem; text-align: center; font-weight: bold;}
@include desktop {
    .share li { width: calc(100% / 8);}
    .share .head { padding: 40px 0;}
    .share .current { display: table;}
    .share .current .thumb { display: table-cell; width: 38%;}
    .share .current .title { display: table-cell; padding: 15px; width: 62%; vertical-align: middle; text-align: left;}
}


/* 管理者表示 */
.admin_profile { margin: 30px 0 0; padding: 20px; background-color: #fff;
    .admin-description .head { background: $colorSub; color: #fff;}
    @include nightmode { background-color: #111; }
}
.admin_avatar {  text-align: center;
    .icon { max-width: 200px; margin: 0 auto 15px;}
    .icon > img { max-width: 100px; border-radius: 50%;}
    .head { font-size: 13px;}
    .name { color: $colorTextMain;font-size: 16px; font-weight: bold;}
}
.admin_description { margin: 20px 0 0; font-size: 13px;}
.admin_twitter { margin: 20px 0 0; text-align: center;}

@include desktop {
    .admin_profile { padding: 40px; display: flex; align-items:center;}
    .admin_avatar { flex: 0 0 200px;}
    .admin_description { margin: 0 0 0 40px;}
    .admin_twitter { text-align: left;}
}

/* adsense */
.ad-index { }
.ad-article { padding: 1rem;}
.ad-linkunit { padding: 1rem;}
.ad-sidebar { margin: 0 auto 2rem; width: 300px; min-height: 250px;background:none!important; }
.ad-w300 { width: 300px; margin: 0 auto 20px; background-color: #eee;}
.ad-related { margin: 30px 0 0;}
.ad-related .ad-inner {}
@include desktop {
    .ad-article { padding: 20px 40px;}
    .ad-linkunit { padding: 20px 40px;}
    .ad-sidebar { max-width: 300px;}
    .ad-related { }
}

/* infinite scroll */
.view-more-button {
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    appearance: button;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    background: #cd2020;
    color: #fff;
    padding: 1em 0;
    width: 100%;
    font-size: 16px;
}
.page-load-status {
    margin-top: 2rem;
}
.infinite-scroll-request {
    animation: scroll-request 1.1s infinite linear;
    border: 4px solid #1591e9;
    border-left: 4px solid transparent;
    border-radius: 50%;
    height: 48px;
    margin: auto;
    width: 48px;
}

@keyframes scroll-request {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.infinite-scroll-request,
.infinite-scroll-last,
.infinite-scroll-error {
  color: #757575;
  text-align: center;
}


/* トップページ コンテンツスライダー */
.post_by_category {
    .pager { display: flex; flex-wrap: wrap;justify-content: space-between; margin: 0 0 15px;
        a { display: flex; align-items: center; justify-content: center; margin: 0 0 10px; width: 24%; padding: 10px; border: 1px solid #ccc; border-radius: 4px; color: #333; background-color: #fff; text-align: center; text-decoration: none; @include hover;}
        a:nth-child(4n+1){ margin-left: 0;}
        a.active { background-color: #0679cc; color: #fff;}
    }
    .slide .more { margin-top: 30px;
        a { display: block; padding: 15px; text-align: center; text-decoration: none;}
        a {background-color: #0679cc; color: #fff;}
    }
}
